<!DOCTYPE html>
<html> <head> </head> <body>
	
<h1> Code the Dream University </h1>
<h2> Administrative Panel </h2>

<!--Link to View all Students-->
<a href="/viewstudents">View All Students</a> <br>

<!--Link to View all Classes-->
<a href="/viewclasses">View All Classes</a> <br>

</body> </html>